.footer {
    height: 10vh;
    background: #000;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.footer__logo {
    flex: 1;
    text-align: start;
}
.footer__container {
    display: flex;
    justify-content: space-between  ;
    width: 90%;
    align-items: center;
    text-align: center;

}
.footer__menu {
    flex: 2;
    display: flex;
    justify-content: center;
}
.menu__el {
    margin-right: 1rem;
}

.menu__el:last-child {
    margin-right: 0;
}
.footer__inter {
    text-decoration: none;
    color: #fff;
    flex: 1;
    margin: 0;
    text-align: end;
}
