.footer {
    height: 10vh;
    background: #000;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    width: 90%;

}
.footer__menu {
    display: flex;
}
.menu__el {
    margin-right: 1rem;
}
.footer__inter {
    display: flex;
    text-decoration: none;
    color: #fff;
}
