@charset "UTF-8";
@import url(./whi.css);
@import url(./pt.css);
@import url(./footer.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  padding: 0;
  margin: 0;
}

html,
body {
  color: #fff;
  font-size: 20px;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: #000;
  /**
             * Для эксплорера
             */
  -ms-user-select: none;
  /**
   * Для мозилы
   */
  -moz-user-select: none;
  /**
   * Для конкверора
   */
  -khtml-user-select: none;
  /**
   * Для Сафари и Хрома
   */
  -webkit-user-select: none;
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
@media screen and (max-width: 760px) {
  html,
body {
    font-size: 18px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.maincontent {
  width: 100%;
  height: 100%;
}

.hero {
  width: 100vw;
  height: 100vh;
  background: url("./../png/brud.png") no-repeat;
  background-size: cover;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-image: radial-gradient(#000000d4, #141414eb);
}

.hero__title {
  font-size: 3rem;
  margin-bottom: 8rem;
  font-style: italic;
  font-weight: bold;
}

.hero__description {
  font-size: 2.2rem;
  text-align: center;
}

.it {
  font-size: 3rem;
  font-style: normal;
}