.section__pt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dce0e0;
}

.conteiner__pt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__pt__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10rem;
  text-align: center;
}

.title__text {
  font-size: 3.9rem;
  font-weight: bold;
}

.title__el {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 3rem;
}

.title__desc {
  margin-bottom: 6rem;
}

.pt__el {
  width: 90%;
  margin-bottom: 3rem;
}

.pt__wrap__img {
  max-width: 9rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.pt__img {
  width: 100%;
  height: auto;
}

.pt__text__content {
  font-weight: bold;
  font-size: 1.7rem;
}

.list__stray {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pt__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pt__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descrip__name {
  font-size: 1.7rem;
  font-weight: bold;
}

.pt__wrap__img {
  margin-right: 2rem;
}

.pt__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 20rem;
  overflow: hidden;
}

.pt__menu__el {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.pt__menu__el--active {
  display: block;
}

.pt__menu__el__link {
  width: 100%;
  height: 100%;
}